@{
    @model SocialMarketplace.Models.ViewModels.Request.RequestStep3ViewModel

    ViewBag.Title = "Request Donation - Step 3";
}
<h3 style="text-align:center">Request Donation Form</h3><br />
<div class="row">
    <h4>Step3: Upload your support materials</h4>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:66%">
            66%
        </div>
    </div>
    <div class="col-xs-8">

        @using (Html.BeginForm("RequestStep3", "Donation", FormMethod.Post, new { encType = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary(true, "Please correct the following information:", new { @class = "text-danger" })
            }

        <fieldset>
            <legend>Additional Information</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.RequestOptional.Keywords)
                @Html.EditorFor(model => model.RequestOptional.Keywords, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequestOptional.Keywords, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RequestOptional.Photo)
                @Html.TextBoxFor(m => m.RequestOptional.Photo, new { type = "file", name = "Files", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequestOptional.Photo, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RequestOptional.VideoURL)
                @Html.EditorFor(model => model.RequestOptional.VideoURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequestOptional.VideoURL, "", new { @class = "text-danger" })
            </div>


            <button type="submit" class="btn btn-default">Finish</button>
        </fieldset>
        }
    </div>
</div>
