@model SocialMarketplace.Models.ViewModels.Request.RequestDetailsViewModel

@{
    ViewBag.Title = "RequestDetails";
}

<h2>Request Details: @Model.Request.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Request.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.Subtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.Subtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.DateDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.DateDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.Keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.Keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.PhotoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.PhotoURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.VideoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.VideoURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.Progress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.Progress) %
        </dd>

    </dl>
    <h4>Items Requested</h4>
    <table class="table table-striped table-bordered" id="requestsTable" style="width:100%">
        <thead>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    Detail
                </td>
                <td>
                    Type
                </td>
                <td>
                    Quantity
                </td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Request.Items)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>

                </tr>


            }
        </tbody>
    </table>

    <h4>Responses</h4>
    <table class="table table-striped table-bordered" id="requestsTable" style="width:100%">
      
                <thead>
                    <tr>
                        <td>
                            Description
                        </td>
                        <td>
                            Detail
                        </td>
                        

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Responses)
                    {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                            @foreach (var itemitem in item.Items)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => itemitem.RequestItemId)
                                    @Html.DisplayFor(modelItem => itemitem.Quantity)
                                </td>
                            }

                        </tr>


                    }
                </tbody>
            </table>

           
</div>
<p>
    @Html.ActionLink("Back to Request List", "DonationRequested","Manage", new { id = ViewBag.uid, sortOrder = "Title" }, null)
</p>
