@{
    @model SocialMarketplace.Models.ViewModels.RequestViewModel

    ViewBag.Title = "Request Donation";
}

        <h3 style="text-align:center">Request Donation Form</h3><br />
        <div class="row">
            <h4>Step 1: Request Basic Information</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    0%
                </div>
            </div>
            <div class="col-xs-8">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    if (!ViewData.ModelState.IsValid)
                    {
                        @Html.ValidationSummary(true, "Please correct the following information:", new { @class = "text-danger" })
                    }

                    <fieldset>
                        <legend>Basic Information</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Step1.CategoryId)
                            @Html.DropDownListFor(model => model.Step1.CategoryId,
                                Model.Categories,
                                new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Step1.CategoryId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Step1.Title)
                            @Html.EditorFor(model => model.Step1.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Step1.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Step1.Subtitle)
                            @Html.EditorFor(model => model.Step1.Subtitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Step1.Subtitle, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Step1.Description)
                            @Html.TextAreaFor(model => model.Step1.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Step1.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Step1.DateDue)
                            @Html.EditorFor(model => model.Step1.DateDue, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Step1.DateDue, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-default">Next</button>

                    </fieldset>
                    <br />
                    <br />
                }
            </div>
        </div>
